.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h5 {
  margin: 10px 0 10 px;
  line-height: 120%;
  color: #ffffff;
  text-align: center;
}
h2a {
  color: #0d3570;
  text-align: center;
  font-size: 1.9em;
}
p {
  margin: 0;
  line-height: 180%;
  color: #ffffff;
  text-align: center;
}
p1 {
  margin: 0;
  line-height: 180%;
  color: #ffffff;
  text-align: center;
  font-size: 1.3rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.ai-center {
  align-items: center;
}

.js-center {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.header {
  border-color: #99d1ff;
  border-radius: 12px;
}

.nav-space {
  margin: 0 1.4%;
}

.nav-brand {
  font-family: "Dancing Script", cursive;
}
.nav-brand h1 a {
  text-decoration: none;
  color: #f1a210;
}

.nav-contact a {
  text-decoration: none;
}
.floatwa {
  position:fixed;
  bottom:0px;
  right: 0px;
  font-family: sans-serif;
  background-color:#ffffff;
  width:100%;
  z-index:1000;
  padding:1.8px;
  margin:auto;
  text-align:center;
  float:none;
  box-shadow: 0px -2px 4px #c0c0c0;
  }
  .tombolwa {
  border: 1px #56aa71 solid;
  background-color:#2f7e49;
  width:90%;
  padding:4px;
  text-align:center;
  margin:0;
  border-radius: 5px;
  margin:auto;
  text-align:center;
  float:none;
  }
  .floatwa a{
  color:white;
  }

.btn1 {
  background: rgb(255, 174, 0);
  border-radius: 7px;
  padding: 6px 16px;
  color: white;
  margin: 4px 0;
}

.btn2 {
  background: rgb(0, 219, 84);
  border-radius: 7px;
  padding: 6px 16px;
  color: white;
  margin: 4px 0;
}

.btn3 {
  background: rgb(0, 120, 219);
  border-radius: 7px;
  padding: 11px 16px;
  color: white;
}

.btn {
  background: #006eff;
  border-radius: 20px;
  padding: 10px 13px;
  color: white;
  align-items: center;
}

.col1 {
  width: 5.3333333333%;
  margin: 1.4%;
}

.col2 {
  width: 13.6666666667%;
  margin: 1.4%;
}

.col3 {
  width: 22%;
  margin: 1.4%;
}

.col4 {
  width: 30.3333333333%;
  margin: 1.4%;
}

.col5 {
  width: 38.6666666667%;
  margin: 1.4%;
}

.col6 {
  width: 47%;
  margin: 1.4%;
}

.col7 {
  width: 55.3333333333%;
  margin: 1.4%;
}

.col8 {
  width: 63.6666666667%;
  margin: 1.4%;
}

.col9 {
  width: 72%;
  margin: 1.4%;
}

.col10 {
  width: 80.3333333333%;
  margin: 1.4%;
}

.col11 {
  width: 88.6666666667%;
  margin: 1.4%;
}

.col12 {
  width: 97%;
  margin: 1.4%;
}

@media screen and (max-width: 480px) {
  .col1 {
    width: 100%;
  }
  .col2 {
    width: 100%;
  }
  .col3 {
    width: 100%;
  }
  .col4 {
    width: 100%;
  }
  .col5 {
    width: 100%;
  }
  .col6 {
    width: 100%;
  }
  .col7 {
    width: 100%;
  }
  .col8 {
    width: 100%;
  }
  .col9 {
    width: 100%;
  }
  .col10 {
    width: 100%;
  }
  .col11 {
    width: 100%;
  }
  .col12 {
    width: 100%;
  }
}
.img-responsive {
  width: 100%;
}

.img-radius {
  border-radius: 0px;
}

.icon64 {
  width: 64px;
}

.spacer4 {
  padding: 4%;
}

.product {
  background: #ffffff;
  border-top-right-radius: 0px;
}

.product h3 {
  background: rgb(255, 0, 0);
  border-radius: 16px;
  padding: 10px 40px;
  color: white;
  margin: 4px 0;
}

.franchise {
  background: #0d3570;
  border-bottom-right-radius: 0px;
}
.franchise .fc-desc h2 {
  font-size: 1.8em;
  margin-left: 20px;
}
.franchise .fc-desc .btn {
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
}

.Footer h2 {
  color: rgb(67, 211, 255);
}
.Footer h2 .Footer h4 {
  color: rgb(241, 241, 241);
  border-top-right-radius: 43px;
}

.Footer {
  background: rgb(255, 255, 255);
  border-radius: 0px;
}
.Footer .fc-desc h2 {
  font-size: 1.4em;
  margin-left: 20px;
}
.Footer .fc-desc .btn {
  background: rgb(108, 2, 207);
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
}

.product .btn3 {
  background: #0095eb;
  display: inline-block;
  text-decoration: none;
  margin-top: 2px;
  margin-left: 1px;
}

.product .btn2 {
  background: #00bd65;
  display: inline-block;
  text-decoration: none;
  margin-top: 6px;
}

.product .btn1 {
  background: #ff5e00;
  display: inline-block;
  text-decoration: none;
  margin-top: 3px;
}/*# sourceMappingURL=style.css.map */
